<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guest81.final_productinfo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="DepoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="DepoDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="AppActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="AppDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="InstActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".InstDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>